<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <title>Pages</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://verilog.james.walms.co.uk/css/normalize.css" />
  <link rel="stylesheet" href="http://verilog.james.walms.co.uk/css/gridism.css" />
  <link rel="stylesheet" href="http://verilog.james.walms.co.uk/css/style.css" />
  <link rel="stylesheet" href="http://verilog.james.walms.co.uk/css/pygments.css" />
  <link rel="icon" type="image/x-icon" href="http://verilog.james.walms.co.uk/favicon.png" />
  <script src="http://verilog.james.walms.co.uk/js/modernizr-2.5.3.min.js"></script>
</head>


    <body class="wrap">

        <header>
  <nav class="mobile-nav show-on-mobiles">
      <ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="http://verilog.james.walms.co.uk//">Overview</a>
  </li>
  <li class="{% if page.iblog %}current{% endif %}">
    <a href="http://verilog.james.walms.co.uk//blog/home">Blog</a>
  </li>
  <li class="{% if page.verilog %}current{% endif %}">
    <a href="http://verilog.james.walms.co.uk//verilog/home">Verilog</a>
  </li>
  <li class="{% if page.docs %}current{% endif %}">
    <a href="http://verilog.james.walms.co.uk//docs/home">Install</a>
  </li>
</ul>

  </nav>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1>
        <a href="http://verilog.james.walms.co.uk/">
          <span>James Walmsley</span>
          <img src="http://verilog.james.walms.co.uk/img/james-logo.png" width="250px" height="115px" alt="">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds hide-on-mobiles">
      <ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="http://verilog.james.walms.co.uk//">Overview</a>
  </li>
  <li class="{% if page.iblog %}current{% endif %}">
    <a href="http://verilog.james.walms.co.uk//blog/home">Blog</a>
  </li>
  <li class="{% if page.verilog %}current{% endif %}">
    <a href="http://verilog.james.walms.co.uk//verilog/home">Verilog</a>
  </li>
  <li class="{% if page.docs %}current{% endif %}">
    <a href="http://verilog.james.walms.co.uk//docs/home">Install</a>
  </li>
</ul>

    </nav>
  </div>
</header>


        <section class="docs">
            <div class="grid">

                <div class="unit four-fifths">
                    <article>
                        <h1>Pages</h1>
                        

                        <ul>
                        
                            <li>
                                <a href="http://verilog.james.walms.co.uk/pages/test/">Hello</a>
                                <p> </p>
                            </li>
                        
                        </ul>

                    </article>
                </div>

            </div>
 
        </section>


        <footer>
        <div class="grid">
          <div class="unit one-third center-on-mobiles">
            <p>By <a href="http://james.walms.co.uk">James Walmsley</a>.</p>
          </div>
          <div class="unit two-thirds align-right center-on-mobiles">
            <p>
              Proudly hosted by
              <a href="https://github.com">
                <img src="http://verilog.james.walms.co.uk/img/footer-logo.png" alt="GitHub • Social coding">
              </a>
            </p>
          </div>
        </div>
      </footer>
      
      
    </body>
</html>